<footer class="site-footer">
  <div class="container">
    <div class="footer-panel">
      <h2 class="footer-title">{{ app_name }}</h2>
      <div class="row g-4 align-items-end">
        <div class="col-md-6">
          <ul class="footer-links">
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Partnership with us</a></li>
            <li><a href="#">Subscribe to our newsletter</a></li>
            <li><a href="#">Trending topics</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="social-block">
            <p>Socials</p>
            <a href="#">FB</a>
            <a href="#">X</a>
            <a href="#">Insta</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
